/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace renderers "com.riaspace.examples.oauth.views.renderers.*";

global
{
	font-family: "Verdana";	
}

renderers|AlbumRenderer
{
	rollOverColor: #8bdb44;
	selectionColor: #8bdb44;
}
	